:root {
    --color-primary: #000;
    --color-secondary: #fff;
    --color-search: #B9231F;
    --color-success: rgb(108, 255, 108);
}

body {
    font-size: 16px;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0;
}

h1 { font-size: 3rem; margin: 20px 0 20px 0;}
h2 { font-size: 2.2rem; margin: 20px 0 20px 0;}
h3 { font-size: 2rem; margin: 20px 0 20px 0;}
h4 { font-size: 1.6rem; line-height: 200%; margin: 15px 0 15px 0;}
h5 { font-size: 1.3rem; margin: 10px 0 10px 0;}
h6 { font-size: 1rem; }

a {
    margin: 0 20px;
    color: var(--color-primary);
    text-decoration: none;
    font-size: x-large;
}

a:hover {
    color: var(--color-secondary);
    text-decoration: underline;
}


p {
    margin: 10px 10px;
    padding: 5px;
    line-height: 200%;
    padding: 15px 0 15px 0;
}

button {
    max-width: 50px;
    border: 0;
    cursor: pointer;
    margin: 0 auto;
    display: inline-flex;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 70px;
    box-sizing: border-box;

    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    border: 2px solid rgb(52, 87, 241);
    transition: all .2s ease-in-out;
    background-color: var(--color-secondary);

}


/* input[type=text],
input[type=email],
input[type=password],
input{
    font: inherit;
    font-size: 1.2em;
    color: currentColor;
    width: 20%;
    border: 1px solid var(--color-primary);
    height: 2em;
    outline: none !important;
    cursor: text;
    text-align: center;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 5%;
} */

/* input[type=checkbox] {
    display: none;
} */


.card {
    display: block;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem 0.5rem;
    margin: 0 auto;
    height: 400px;
    width: 400px;
    border: 2px solid black;
    padding: 0;
}

#nav {
    z-index: 150;
    position: fixed;
    top: 0;
    display: flex;
    padding: 20px 20px;
    width: 100%;
    justify-content: center;
    background: rgb(28,28,28);
    background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(255,29,29,1) 50%, rgba(28,28,28,1) 100%);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-box-shadow: -1px 18px 28px -12px rgba(255,0,0,1);
    -moz-box-shadow: -1px 18px 28px -12px rgba(255,0,0,1);
    box-shadow: -1px 18px 28px -12px rgba(255,0,0,1);
    font-weight: 600;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}


.align-text-start {
    text-align: start;
}

.align-text-center {
    text-align: center;
}

.align-text-end {
    text-align: end;
}


p.center-content-80-percent {
    max-width: 80%;
    margin: 0 auto;
}

.info-text {
    color: var(--color-info);
}

button:hover {
    transform: scale(1.04);
    transition: 0.1s ease-in;
}


input:hover{
    border: 2px solid black;
}

input:focus {
    border: 2px solid black;
}

section:not(:first-of-type){
    min-height: 100vh;
}

#banner {
    margin-top: 250px;
}

#popular {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    width: 100%;
    height: 60%;
    border-radius: 2% 2% 0 0;
    border-bottom: 2px solid black;
}

#swatches {
    width: 75%;
    margin: 0 auto;
}

.swatches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.swatch {
    margin: 5px;
    border: 1px solid black;
}

#cart {
    margin: auto;
}

ul {
    list-style-type: none;
}

#contact {
    display: flex;
    flex-direction: column;
}

#contact > form > div > button {
    max-width: 50px;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0;

}

.update {
    background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#606466;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;

}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}




form{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
form h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
form input[type="text"],
form input[type="date"],
form input[type="datetime"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="time"],
form input[type="url"],
form input[type="password"],
form textarea,
form select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
form textarea{
	resize:none;
	overflow: hidden;
}
form input[type="button"], 
form input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
form input[type="button"]:hover, 
form input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}


/* ----------------------------------- */

/* input[type=radio] {
    display: none;
} */

input[type=radio] {
    position: relative;
    padding-left: 28px;
    height: 24px;
    display: flex;
    align-items: center;
    margin: 5px 5px;
    transition: 200ms;
}

input[type=radio]{
    transform: scale(1.2);
}

input[type=radio]{
    content: "";
    width: 22px;
    height: 22px;
    border: 2px solid;
    display: inline-block;
    margin-right: 20px;
    transition: 200ms;
}

input[type=radio]{
    content: "";
    width: 18px;
    height: 18px;
    background-color: transparent;

    transition: 600ms;
}

input[type=radio]:checked{
    border-color: rgb(0, 0, 0);
}

input[type=radio]:checked{
    background-color: rgb(0, 0, 0);
}


input[type=checkbox] {
    display: none;
}

input[type=checkbox]{
    width: 50px;
    height: 30px;
    display: inline-block;
    background-color: rgb(255, 41, 41);
    border-radius: 30px;
    position: relative;
    transition: 200ms;
    margin: 0 10px;

}

input[type=checkbox] + label.switch::before {
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    left: 2px;
    top: 2px;
    transition: 200ms;
}

input[type=checkbox]:checked + label.switch::before {
    left: 22px;
}

input[type=checkbox]:checked + label.switch {
    background-color: rgb(14, 188, 14);
}


